* {
    font-family: 'Oswald';
}

body{
    height: 100%;
    padding: 0;
    margin: 0 0 auto;
    background-color: #cdcdcd;
}

header {
    background-color: #cdcdcd;
}

.intro {
    padding: 30px ;
    background-color: #eddbcd;
    color: black;
    text-align: center;
    border: 2px solid #eddbcd;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid white;
}

.criteriaBtn {
    font-size: 15px;
    padding: 5px;
}

.sideNav {
    border: 2px solid #c06014;
    background-color: #eddbcd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.middleContainer{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #c06014;
    border-radius: 15px;
    background-color: #eddbcd;
    /* height: 100%; */
}

.selectionImage {
    position: absolute;
    top: 45%;
    background-color: #eddbcd; 
    border: 1px solid #c06014;
    border-radius: 5px;
}

.selectionImage:hover {
    background-color: white;
}

.results {
    background-color: #c06014;
    color: white;
    padding: 20px;
    border-radius: 10px;
    clear: both;
    text-align: left;
    margin: 10px 15%;
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 250px;
}

.searchDropdown{
    text-align: center;
    margin: 0 auto;
    background-color: #eddbcd;
    padding: 5px;
}

.selectPic {
    width: 70px;
    height: 70px;
}

.hide{
    display: none;
    border: 1px solid #c06014;
}

.slider {
    width: 100%;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
}

.slider figure {
    margin: 0px;
    position: relative;
    width: 500%;
    left: 0px;
    transition: 1s ease-in-out;
}

.slider figure img {
    width: 20%;
    max-height: 550px;
    object-fit: cover;
    float: left;
}

#sideBarBtn{
    width: 100%;
    color: white;
    background-color: #c06014;
    border: 2px solid #eddbcd;
    padding: 5px;
    font-size: 20px;
}

#yeah{
    right: .5%;
    height: 55px;
    width: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

#nope{
    left: .5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 50px;
}

#introBtn {
    width: 30%;
    height: 60px;
    font-size: large;
    display: block;
    margin: auto;
    color: white;
    background-color: #c06014;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
} 

#introBtn:hover {
    border: 2px solid #cdcdcd;
    color: #cdcdcd;
} 

#patch {
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    background-color: #cdcdcd;
    margin-left: -20px;
    margin-top: -20px;
}

#map {
    height: 400px;
    width: 100%;
    margin: 10px 0% 15px auto;
  }

#footer {
    text-align: center;
    width: 100%;
    height: 25px;   
    background-color: #c06014;
    bottom: 0;
    margin-top: 5px;
    padding: 5px;
    color: white;
    font-size: 10px;
}

