* {
    border: 1px solid #c06014;
    font-family: 'Oswald';
}

body{
    margin: 0 0 auto;
    background-color: #EDDBCD;
}

header {
    background-color: #cdcdcd;
}

.middleContainer{
    width: 70%;
    margin: auto;
}

.selectionImage {
    position: absolute;
    top: 45%;
    background-color: white; 
}

#consequenceSection{
    clear: both;
    text-align: left;
    margin: 0 35%;
}

.banner {
    width: 100%;
    height: 400px;
}

.selectPic {
    width: 70px;
    height: 70px;
}

#sideBarBtn{
    width: 100%;
}

.hide{
    display: none;
}

.slider {
    width: 100%;
    margin: 2% auto;
    position: relative;
    overflow: hidden;
}

.slider figure {
    margin: 0px;
    position: relative;
    width: 500%;
    left: 0px;
    transition: 1s ease-in-out;
}

.slider figure img {
    width: 20%;
    height: 400px;
    float: left;
}


#yeah{
    right: 0%;
    height: 75px;
    width: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

#nope{
    left: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    height: 70px;
    width: 70px;
}

